<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068607533370-r0en0oivu78r08tu9tdicvrp6ie45opn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068607533370-r0en0oivu78r08tu9tdicvrp6ie45opn</string>
	<key>API_KEY</key>
	<string>AIzaSyC7qtEl2J35TFAfwBm7GN9_JPZKoqovSz8</string>
	<key>GCM_SENDER_ID</key>
	<string>1068607533370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>test-7r3x98</string>
	<key>STORAGE_BUCKET</key>
	<string>test-7r3x98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068607533370:ios:7b4a1979ccab1af599a003</string>
</dict>
</plist>